<main class="container">
  <div class="row justify-content-center my-4">
    <h1>Dashboard</h1>
    <div class="w-100"></div>
    <div class="col-lg">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link text-info active" href="/dashboard">概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= edit_user_path(current_user) %>">ユーザー編集</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">各種設定</a>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <span>ログアウト</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row my-5">
    <div class="card shadow ml-3" style="width: 18rem;">
      <div class="card-body">
        <p class="card-title">奢ってもらった杯数</p><br>
        <h3 class="card-text text-center">XX  杯</h3>
      </div>
    </div>
    <div class="card shadow ml-3">
      <div class="card-header">
        コーヒー履歴
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card shadow ml-3 my-5" style="width: 38rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <% 10.times do |br| %>
    <br>
  <% end %>
</main>
