body {
  //font-family: 'Work Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  padding-top: 60px;
}

main {
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #28282a;
}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
}

.navbar .nav-link a {
  color: #fdd835;
}
