body {
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 60px;
  background-color: #F5F5F5;
}

main {
  padding-top: 10px;
}

a {
  text-decoration-color: none;
  color: black;
}

.navbar {
  background-color: #28282a;
}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
}

.user-image img{
  border-radius: 50%;
}
