<main class="container">
  <div class="row my-5">
    <div class="col-lg">
      <h5>サポートしていただき、ありがとうございます。
      お支払金額: <strong>300円</strong></h5>
      <%= link_to "クリエイターページに戻る", :back , class: "text-primary" %>
    </div>
    <% 20.times do |br| %>
      <br />
    <% end %>
  </div>
</main>
